<div class="container-fluid">
    <ul>
        <li><a href="Inbound/">入库查询</a></li>
        <li><a href="Outbound/">出库查询</a></li>
        <li><a href="CN/">菜鸟台账</a></li>
        <li><a href="WMS/">WMS台账</a></li>
    </ul>
</div>